<link rel="stylesheet" href="css/bannerStyle.css">

<div class="bannerStart">
    <div class="I2Skws">
                    <span class="I2Skw">
                        毄滱漮
                    </span>
                    <span class="I2Skw">
                        忷扴汥
                    </span>
                    <span class="I2Skw">
                        娭屔
                    </span>
                    <span class="I2Skw">
                        鼀齕櫌
                    </span>
                    <span class="I2Skw">
                        毄滱漮
                    </span>
                    <span class="I2Skw">
                        忷扴汥
                    </span>
                    <span class="I2Skw">
                        娭屔
                    </span>
                    <span class="I2Skw">
                        鼀齕櫌
                    </span>
                    <span class="I2Skw">
                        毄滱漮
                    </span>
                    <span class="I2Skw">
                        忷扴汥
                    </span>
                    <span class="I2Skw">
                        娭屔
                    </span>
                    <span class="I2Skw">
                        鼀齕櫌
                    </span>
                    <span class="I2Skw">
                        忷扴汥
                    </span>
                    <span class="I2Skw">
                        娭屔
                    </span>
                    <span class="I2Skw">
                        鼀齕櫌
                    </span>

                    <span class="I2Skw">
                        鼀齕櫌
                    </span>
                    <span class="I2Skw">
                        忷扴汥
                    </span>
                    <span class="I2Skw">
                        娭屔
                    </span>
                    <span class="I2Skw">
                        鼀齕櫌
                    </span>
    </div>
    <span class="I2Scloser">
        <img class="I2Sx" src="imgs/x.png">
    </span>
</div>

<div class="I2SleftSide">
    <img class="I2Splus" src="imgs/plus.png">
    <span class="I2Scta">爆款</span>
</div>

<script src="js/script.js"></script>